main{
    width: 1200px;
    margin-left: calc((100% - 1200px) / 2);
    display: inline-block;

}
header{

    width: 100%;
    display: inline-block;
    margin-top: 20px;;

}
header > a > img{
    height:  30px;
    display: inline-block;
    float: left;
    margin-top: 6px;
}

main > header > a  img:hover {

    border: 1px solid #b8b8b8 ; }

nav{
    float: right;
    margin-top: 8px;
}

header > nav > a{
    display: inline-block;
    text-decoration: none ;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 20px;
    margin-left: 30px;
    
    border-bottom: 3px solid transparent;
}


header > nav > a:first-child{

    border-bottom: 3px solid orangered;}

 header > nav > a:hover{

    border-bottom: 3px solid orangered;
    
 }
 

header > p{

    display: inline-block;
    float: left;
}

main > header > p{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: oblique;
font-weight: bold;
font-size: 14px;
margin-left: 3px;


}

main > header > p+p{

    color: orangered;
}

    
section {
    margin-top: 100px;
    display:inline-block ;
}

section > img{
    width: 50%;
    display: inline-block;
    margin-left: 20px;
}

div{ 
    width: 35%;
    display: inline-block;
    float: left;
}
    

h1{
    font-size: 60px;
    margin-bottom: 50px;

}

h2{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-top: -50px;


}

section > div > a{

    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: orangered;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 85px;
    color: aliceblue;
    text-shadow: 20px gray;
    border-radius: 5px;
    border: 2px orangered;
    box-shadow:  
    -5px -5px 10px rgb(190, 53, 3),
    5px 5px 10px rgba(70, 70, 70, 0.12);  

}
section > div > a:hover{
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 0, 0);
    border: 2px rgb(245, 1, 1);
    box-shadow:  
    -5px -5px 10px rgb(179, 3, 3),
    5px 5px 10px rgba(70, 70, 70, 0.12); 

}

section > div > p{

    padding-bottom: 30px;
}

span{
    color: orangered;
}