:root{

    --plotis: 1300px;
    --soninis-atstumas: calc((100% - var(--plotis)) / 4);
    --main-width: calc(100% - var(--soninis-atstumas));
    --text-width: calc(var(--plotis) * 0.4);
    --image-width: calc(100% - var(--plotis) / 2);
    --text-margin: calc(var(--plotis) * 0.1);


}
body{
    background-color: antiquewhite;
}

main{
    width: var(--main-width);
    margin-left: var(--soninis-atstumas);
    display: inline-block;
    margin-top: 60px;

}
header{
    
    display: inline-block;
    width: var(--plotis);
    margin-left: var(--soninis-atstumas);
    background-color: aquamarine;

}

div{ 
    margin-top: 50px;
    display: inline-block;
    width: var(--text-width);
    margin-right: var(--text-margin);

    float: left;
}



main > img{
    display: inline-block;
    width: var(--image-width);
}


header > a > img{
    height:  30px;
    display: inline-block;
    float: left;
    margin-top: 6px;
    border: 1px solid transparent ;
}

header > a  img:hover {

    border: 1px solid #b8b8b8 ; }

nav{
    float: right;
    margin-top: 8px;
}

header > nav > a{
    display: inline-block;
    text-decoration: none ;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 20px;
    margin-left: 30px;
    
    border-bottom: 3px solid transparent;
}


header > nav > a:first-child{

    border-bottom: 3px solid orangered;}

 header > nav > a:hover{

    border-bottom: 3px solid orangered;
    
 }
 

header > p{

    display: inline-block;
    float: left;
}

header > p{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: oblique;
font-weight: bold;
font-size: 14px;
margin-left: 3px;


}

header > p+p{

    color: orangered;
}

h1{
    display: inline-block;
    width: 100%;
    font-size: 50px;
    margin: 0;

}

main > div > a{

    margin-left: 20%;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: orangered;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-shadow: 20px gray;
    border-radius: 5px;
    border: 2px orangered;
    box-shadow:  
    -5px -5px 10px rgb(190, 53, 3),
    5px 5px 10px rgba(70, 70, 70, 0.12);  

}
main > div > a:hover{
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 0, 0);
    border: 2px rgb(245, 1, 1);
    box-shadow:  
    -5px -5px 10px rgb(179, 3, 3),
    5px 5px 10px rgba(70, 70, 70, 0.12); 

}

main > div > p{
    
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}

span{
    color: orangered;
}